.navbar {
    background-color: $primary !important;

    &__link {
        color: $white !important;
        font-size: $font-lg;
        margin-right: 20px;

        &:hover {
            background-color: $primary-alt;
            border-radius: 10px;
        }
    }

}

.active {
    background-color: $primary-alt;
    font-weight: bold;
    border-radius: 10px;
}