.btn {
    outline: 0 !important;
    box-shadow: none !important;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;;
    transition: all 0.5s ease-in-out;

    &--full {
        width: 100%;
    }

    &--primary {
        background-color: $primary;
        color: $white !important;

        &:hover {
            background-color: $primary-alt;
        }
    }

    &__search {
        height: 40px;
        padding: 0 30px;
    }
    
    &:hover {
        cursor: pointer;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #ccc;
    }
}