.link {
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;

    &--light {
        color: $secondary !important;

        &:hover {
            font-weight: bold !important;
        }
    }
}