.link {
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    color: $link !important;

    &__icon {
        font-size: $font-xl;
        margin-right: 5px;
    }

    &--secondary {
        color: $secondary !important;

        &:hover {
            font-weight: bold !important;
        }
    }

    &--primary {
        color: $primary !important;
    }

    &--primary-alt {
        color: $primary-alt !important;
    }

    &--info {
        color: $info !important;

        &:hover {
            color: $link !important;
        }
    }

    &--fw {
        font-weight: bold;
    }

    &:hover {
        cursor: pointer;
    }
}