.list {
    &__item {
        &--mb {
            margin-bottom: 15px;
        }
    }

    &__body {
        line-height: 2.5;

        &-email {
            word-break: break-word;
        }

        &-text {
            color: $info !important;
            text-decoration: none !important;
            font-size: 18px;
        }
    }

    &__inline {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10%;
        margin-bottom: 0;
    }
}