.text {
    &--sm {
        font-size: $font-sm;
    }
    
    &--md {
        font-size: $font-md;
    }

    &--normal {
        font-size: $font-normal;
    }

    &--lg {
        font-size: $font-lg;
    }

    &--xl {
        font-size: $font-xl;
    }

    &--upper {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}