.follows {
    display: flex;
    flex-wrap: wrap;

    &__card {
        width: 45%;
        margin-right: 3%;
        text-align: center;
    }

    &__subtitle {
        margin-bottom: 15px;
    }

    &__notfound {
        margin-left: 25%;
        
        &-heading {
            color: $secondary;
            margin: auto auto 40px 70px;
        }

        &-img {
            width: 90%;
        }
    }
}