.follows {
    display: flex;
    flex-wrap: wrap;

    &__card {
        width: 45%;
        margin-right: 3%;
        text-align: center;
    }

    &__subtitle {
        margin-bottom: 15px;
    }

    &__notfound {
        text-align: right;
        
        &-heading {
            color: $secondary;
            margin-bottom: 20px;
        }

        &-img {
            width: 80%;
        }
    }
}