.profile {
    &__card {
        text-align: center;
    }

    &__list {
        font-size: $font-lg;
        min-width: 33% !important;
        text-align: left;
    }

    &__noblog {
        text-align: center;
        color: $secondary;
    }

    &-another {
        min-width: 45% !important;
    }
}