$primary: #5662a4;
$primary-alt: #7f8ac9;
$secondary: #b2473b;
$info: #666;
$light: #eee;
$white: #fff;
$error: #d92c2c;

$border-info: 1px solid $info;
$border-white: 1px solid $white;
$border-error: 1px solid $error;

$font-sm: 12px;
$font-md: 14px;
$font-normal: 16px;
$font-lg: 18px;
$font-xl: 20px;